.dashNav {
    position: fixed;
    transition:width 200ms ease;
}




.dash-icon:hover svg {
    fill: white;
}

.active .dash-icon svg {
    fill: white;
}



/*  small screen */
@media only screen and (max-width: 600px) {
    .dashNav {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo {
        display: none; 
    }
    .main {
        margin: 0;
    }
    .dash-icon svg {
        min-width: 1rem;
    }
    
}


/*  large screen  */
@media only screen and (min-width: 600px) {
    .dashNav {
        bottom: 0;
        width: 5rem;
        height: 100vh;
    }
    .dashNav:hover .link-text {
        display: block;
    }
    .dashNav:hover {
        width: 16rem;
    }
    .dash-icon svg {
        min-width: 2rem;
        margin: 5px 1.5rem;
    }
}