.nav-Item {
    width: 50px;
    transition: width 1600ms ease;
  }
  
  .nav-Item:hover {
    border-radius: 20px;
    padding-right: 140px;
    background-color: white;
    color: #212529;
  }
  
  .nav-Item:hover .link-text {
    display: inline;
    font-size: 22px;
    color: black;
  }
  
  .link-text {
    display: none;
    margin-left: 10px;
  }
  